/*______BODY_______*/
body {
  margin: 0;
  font-family: 'Varela Round', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  background: linear-gradient(
    rgb(0, 0, 0),
    rgb(21, 0, 80),
    rgb(63, 0, 113),
    rgb(251, 37, 118)
  );
}
/*________HEADER_______*/
header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 30px;
  background: linear-gradient(to bottom, #453d5a, #f1c6b5, #33122f);
}
.rick {
  width: 200px;
  height: 70px;
}
.menu {
  display: flex;
  list-style: none;
}
header ul li a {
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

/*________CONTENEDOR________*/
h1 {
  font-size: 60px;
  color: cadetblue;

  padding-left: 30px;
  font-family: 'Sedgwick Ave Display', cursive;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.contenedor-img {
  width: 100px;
  height: 100px;
}

.card p span {
  color: rgb(7, 51, 49);
}
.contenedor-img img {
  width: 100%;
  height: 100%;
}

.card {
  width: 225px;
  height: 300px;
  border: 2px solid #575453;
  background: linear-gradient(
    rgb(0, 255, 171),
    rgb(20, 195, 142),
    rgb(184, 241, 176),
    rgb(227, 252, 191)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
}
.card:hover {
  transform: scale(1.05);
  border-radius: 60%;
  background: linear-gradient(
    rgb(36, 120, 129),
    rgb(67, 145, 155),
    rgb(48, 170, 221),
    rgb(0, 255, 198)
  );
}
.card img {
  border-radius: 50%;
}
span {
  font-weight: bold;
  color: #020202;
}
/*___________FOOTER_________*/
footer {
  display: flex;
  justify-content: space-between;
  height: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(21, 6, 6);
  font-size: 25px;
  background: linear-gradient(to bottom, #453d5a, #f1c6b5, #33122f);
}
.footer {
  margin-left: 85px;
}
a {
  color: rgb(7, 7, 7);
}
.redes {
  display: flex;
  list-style: none;
  margin-right: 35px;
}

footer ul li a {
  text-decoration: none;
}
footer ul li a i {
  font-size: 25px;
  display: flex;
  padding-left: 10px;
  justify-content: flex-end;
}

/* _____MEDIA_QUERIES: */
@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
  footer {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  header {
    font-size: 15px;
  }
  footer {
    font-size: 15px;
    flex-direction: column;
    background: rgb(21, 0, 80);
    color: aliceblue;
  }
  footer ul li a {
    color: azure;
    font-size: 15px;
  }
}
